*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: 'Alfa Slab One';
}

.wraper {
    margin: 40px auto;
}

.menu {
    border: 4px outset rgb(163, 163, 163);
    height: 80px;
    background-color:rgb(0, 0, 170);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__inner {
    width: 260px;
    display: flex;
    justify-content: space-between;
}

.select {
    font-size: 16px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 4px;
    width: 80px;
    height: 30px;
    background-color: rgb(0, 229, 255);
    opacity: 1;
    transition: opacity .1s;
    outline: 0px;
}
.select:hover {
    opacity: 0.75;
}

.restart {
    font-size: 16px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 4px;
    width: 80px;
    height: 30px;
    background-color: rgb(0, 229, 255);
    opacity: 1;
    transition: 0.08s linear;
}
.restart:hover {
    opacity: 0.75;
}

.restart:active {
    transform: scale(0.95);
}

.flagmenu {
    height: 30px;
    width: 80px;
    background-color: rgb(0, 229, 255);
    font-size: 16px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flagmenu .flag::before {
    border-left: 7px solid rgb(0, 229, 255);
    border-right: 7px solid rgb(0, 229, 255);
}

.flagmenu .flag{
    margin-left: 18px;
}

.flagcounter {
    display: inline-block;
    margin-right: 10px;
}

.game_table {
    display: table;
}

.line {
    display: table-row;
    width: 100%;
}

.cell {
    position: relative;
    border: 4px outset rgb(163, 163, 163);
    display: table-cell;
    background-color:rgb(0, 60, 255);
    width: 36px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    transition: 0.06s linear;
}

.cell:hover {
    opacity: 0.75;
}

.cell:active {
    border: 4px inset rgb(0, 0, 0);
}

.mine {
    background-color:rgb(237, 180, 255);
    background-image: url(bomb_icon_159026.svg);
    background-repeat: no-repeat;
}

.num0 {
    background-color:rgb(255, 255, 255);
} 

.num1 {
    background-color:rgb(255, 196, 157);
}

.num1::before {
    position: absolute;
    transform: translate(-50%, -50%);
    content: '1';
    color: rgb(45, 84, 255);
}

.num2 {
    background-color:rgb(255, 246, 116);
}

.num2::before{
    position: absolute;
    transform: translate(-50%, -50%);
    content: '2';
    color: rgb(10, 143, 10);
}

.num3 {
    background-color:rgb(219, 219, 219);
}

.num3::before{
    position: absolute;
    transform: translate(-50%, -50%);
    content: '3';
    color: rgb(255, 53, 53);
}

.num4 {
    background-color:rgb(255, 182, 182);
}

.num4::before{
    position: absolute;
    transform: translate(-50%, -50%);
    content: '4';
    color: rgb(8, 10, 138);
}

.num5 {
    background-color:rgb(151, 255, 156);
}

.num5::before {
    position: absolute;
    transform: translate(-50%, -50%);
    content: '5';
    color: rgb(145, 9, 9);
}

.num6 {
    background-color:rgb(154, 248, 255);;
}

.num6::before{
    position: absolute;
    transform: translate(-50%, -50%);
    content: '6';
    color: rgb(184, 12, 155);
}

.num7 {
    background-color:rgb(154, 248, 255);;
}

.num7::before{
    position: absolute;
    transform: translate(-50%, -50%);
    content: '7';
    color: rgb(184, 12, 155);
}

.num8 {
    background-color:rgb(154, 248, 255);;
}

.num8::before{
    position: absolute;
    transform: translate(-50%, -50%);
    content: '8';
    color: rgb(184, 12, 155);
}

.flag {
    background-color:rgb(178, 255, 106);
    position: relative;
}

.flag::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background:rgb(175, 131, 37);
    transform: translate(-50%, -50%);
    border-bottom: 4px solid rgb(5, 155, 25) ;
    border-left: 7px solid rgb(178, 255, 106);
    border-right: 7px solid rgb(178, 255, 106);
    animation: flagAnimated 0.3s forwards;
}

.flag::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 0;
    border-top: 4px solid transparent;
    border-left: 12px solid #ff0000;
    border-bottom: 4px solid transparent;
    transform: translate(-10%, -115%);
    animation: flagAnimated 0.3s forwards;
}

@keyframes flagAnimated {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.err {
    background-color:rgb(0, 60, 255);
    position: relative;
}

.err::before,
.err::after {
    content: '';
    position: absolute;
    background:rgb(255, 0, 0);
    width: 0px;
    height: 30px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 2px;
}

.err::before{
    transform: rotate(45deg) translate(-12px, -9px);
}
.err::after {
    transform: rotate(315deg) translate(9px, -12px);
}
